models/*
!models/.gitkeep
*.iml
.idea
official/auto_grader/image/*
!official/auto_grader/image/.gitkeep
logs/fit/*
!logs/fit/.gitkeep
algorithms/cmake-build-*
model.hdf5
map.txt
solution.txt
algorithms/solution
algorithms/solution.exe
model.npy
svm.joblib
